<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<center>
<body>
    <h2>Lista de Usuarios</h2>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nickname</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nickname}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.apellido}"></td>
                <td th:text="${usuario.email}"></td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/usuarios/nuevo}">Agregar Nuevo Usuario</a>
</body>
</center>
</html>